<form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input type="text" required minlength="3" ngModel name="courseName" #courseName="ngModel" id="courseName" class="form-control">
            <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
                <div *ngIf="courseName.errors && courseName.errors['required']">
                Course Name is Required
                </div>
                <div *ngIf="courseName.errors && courseName.errors['minlength']">
                Required atleast three characters.
                </div>
            </div>
        <label for="category">Category</label>
        <select ngModel name="category" #category="ngModel" id="category" class="form-control" required>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
            Category is required
        </div>
        <br>
        <div class="checkbox">
            <input type="checkbox" ngModel name="isSubscribed">
            <label for="">30-Days money back guarantee</label>
        </div>
        <p>{{f.value | json}}</p>
        <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
    </div>
</form>